{% extends "base.html" %}
{% load mathfilters %}
{% load static %}
{% block content %}

<!-- Current Events -->
<h1>Current Events</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Days Left</th>
            <th scope="col">Deadline</th>
            <th scope="col">Qualis</th>
        </tr>
    </thead>
    <tbody>
        {% for event in current_events %}
        <tr>
            <th scope="row"><a href="{% url 'events:event_detail' event.id %}">{{ event.name }}</a></th>
            <td>{{ event.days_left }}</td>
            <td>{{ event.deadline }}</td>
            <td>{{ event.qualis }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'events:event_new' %}" class="btn btn-success float-right">New Event</a>


<hr class="my-5">


<!-- Past Events -->
<h1>Past Events</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Days Passed</th>
            <th scope="col">Deadline</th>
            <th scope="col">Qualis</th>
        </tr>
    </thead>
    <tbody>
        {% for event in past_events %}
        <tr>
            <th scope="row"><a href="{% url 'events:event_detail' event.id %}">{{ event.name }}</a></th>
            <td>{{ event.days_left|abs }}</td> <!-- This is acctually a DAYS PASSED field -->
            <td>{{ event.deadline }}</td>
            <td>{{ event.qualis }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<img src="{% static "images/deadlines-timeline.png" %}" alt="Deadlines Timeline" class="img-fluid my-5 w-75 mx-auto d-block""/>

<script>
    $(document).ready(function() {
        $('.table').DataTable({
            "order": [[ 1, "asc" ]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": false });
        });
</script>

{% endblock %}