{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <form method="post" class="form">
        <h2>Creating/Editing a new submission for {{ event.name }}</h2>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
{% endblock %}