{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Current submissions -->
<h1>Submissions</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Paper Acronym</th>
            <th scope="col">Event</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in current_submissions %}
        <tr>
            <th scope="row"><a href="{% url 'submissions:submission_detail' submission.id %}">{{ submission.paper_acronym|truncatechars:30 }}</a></th>
            <th scope="row"><a href="{% url 'submissions:submission_detail' submission.event.id %}">{{ submission.event.name }}</a></th>
            <td><span class="badge badge-{{submission.status_background}}">{{ submission.get_status_display }}</span></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr class="my-5">

<!-- Past submissions -->
<h1>Past Submissions</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Paper Acronym</th>
            <th scope="col">Event</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in past_submissions %}
        <tr>
            <th scope="row"><a href="{% url 'submissions:submission_detail' submission.id %}">{{ submission.paper_acronym|truncatechars:30 }}</a></th>
            <th scope="row"><a href="{% url 'submissions:submission_detail' submission.event.id %}">{{ submission.event.name }}</a></th>
            <td><span class="badge badge-{{submission.status_background}}">{{ submission.get_status_display }}</span></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Submissions statistics card-->

<div class="card my-5" style="width: 18rem;  float: right;">
    <div class="card-body">
      <h5 class="card-title">Statistics</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Submissions: {{total_submissions}}</li>
        <li class="list-group-item">Approval Rate: {{approval_rate}}%</li>
      </ul>
    </div>
  </div>
{% endblock %}